<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <p>deliveryStatus
            <%- deliveryStatus %>
        </p>
        <p>messageId
            <%- messageId %>
        </p>
    <a href=<%- messageId %>>Get Message Status</a>

</body>

</html>
