<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <p>deliveryStatus <%- data[0].deliveryStatus %></p>
    <p>messageId <%- data[0].messageId %></p>
    
</body>

</html>
