<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <div class="container-fluid">
        <h1>Telstra SMS V2 Test</h1>
    </div>

    <div class="container-fluid">
        <a href="gettoken">Get Token</a><p></p>
        <a href="sendsms">Send SMS</a>
    </div>
</body>

</html>
